
  
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 300px;
  }
  
  /* Taller footer on small screens */
  @media (max-width: 34em) {
      .footer {
        height: 500px;
      }
  }
  
  /* Sticky footer style and color
  -------------------------------------------------- */
  footer {
    padding-top: 30px;
    background-color: #609d9f;
    color: #ffffff;
  }
  
  footer .anchor {
    padding-left: 1.3vw;
    font-weight: 500;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #ffffff;
    line-height: 2.5vw;
    text-decoration:none;
  }

  footer li {
    user-select: 'none';
    padding-left: 1.3vw;
    font-weight: 500;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #ffffff;
    line-height: 2.5vw;
    text-decoration:none;
  }

  
  @media (max-width:600px) {
    footer a{
      margin-left: 3.5vw;
    }
    footer li{
      user-select: 'none';
      margin-left: 3.3vw;
      line-height: 6.5vw;
    }
    .contact {
      margin-left: 4vw;
      margin-bottom: 7vw;
    }

    .headingContact{
      margin-left: 25vw;
    }
  }



  /* footer a:hover, footer a:focus */
