
  
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 300px;
  }
  
  /* Taller footer on small screens */
  @media (max-width: 34em) {
      body {
        margin-bottom: 500px;
      }
      .footer {
        height: 500px;
      }
  }
  
  /* Sticky footer style and color
  -------------------------------------------------- */
  footer {
    padding-top: 30px;
    background-color: #609d9f;
    color: #ffffff;
  }
  
  footer a {
    padding-left: 1.3vw;
    font-weight: 500;
    color: #ffffff;
    line-height: 2.5vw;
    text-decoration:none;
  }
  
  footer .icons a:hover , a:focus{
    color: #609d9f;
    /* text-decoration:wavy */
  }
  
  @media (max-width:600px) {
    footer a{
      margin-left: 3.5vw;
    }
  }



  /* footer a:hover, footer a:focus */
