/*Estilos generales del boton whatsapp*/
/* *{
  padding: 0%;
  margin: 0%;
} */

.threeImgs{
  border: 2px solid rgb(224, 245, 245);
  border-radius: 5%;
  /* box-shadow: rgba(240, 104, 20, 0.1) 0px 60px 40px -7px; */
}
.threeImgs p{
  font-size: 1rem;
  letter-spacing: 0.06em;
}
.threeImgs span{
  font-size: 0.9rem;
  letter-spacing: 0.06em;
}

.fourCards{
  /* padding-left:1.1vw; */
  display: flex;
  gap: 3.2vw;
  justify-content: center;
}

@media (max-width:600px) {
  .fourCards{
    padding: 0%;
    margin: 0%;
  }

  .threeImgs{
    margin-left: 6vw;
    /* margin-right: 6vw; */
    gap: 10px;
    justify-content: space-between;
    /* border: 1px solid teal; */
    /* border-radius: 10%; */
  }
  .threeImgs img{
    margin-left: 17vw;
  }
 
}


.whatsapp-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #25D366;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    animation: breathe 2s ease-in-out infinite;
  }
  
  /*Estilos solo al icono whatsapp*/
  .whatsapp-btn i {
    color: #fff;
    font-size: 24px;
    animation: beat 2s ease-in-out infinite;
    text-decoration: none;
  }
  
  /*Estilos con animation contorno respirando*/
  @keyframes breathe {
    0% {
      box-shadow: 0 0 0 0 rgba(37, 211, 102, 0.5);
    }
    70% {
      box-shadow: 0 0 0 15px rgba(37, 211, 102, 0);
    }
    100% {
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
  }
  
  /*Estilos de animacion del icono latiendo*/
  @keyframes beat {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }